.main {
  margin-top: 40px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    padding: 20px;
  }

  &__button {
    padding: 10px;
    background-color: cadetblue;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 4px;
  }
}